In [134]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [135]:
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

In [136]:
# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [137]:
# Combine the data into a single dataset
combined_mouse_data_df = pd.merge(mouse_metadata,study_results,how = 'inner',on =['Mouse ID'])
combined_mouse_data_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [138]:
# Checking the number of mice.
tot_num_of_mice = combined_mouse_data_df["Mouse ID"].count()
tot_num_of_mice

1893

In [139]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
dup_mice_id_timepoint = combined_mouse_data_df[combined_mouse_data_df.duplicated(["Mouse ID", "Timepoint"])]
dup_mice_id_timepoint

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [140]:
# Optional: Get all the data for the duplicate mouse ID. 
dup_mice_id = combined_mouse_data_df[combined_mouse_data_df.duplicated(["Mouse ID"])]
dup_mice_id

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
5,k403,Ramicane,Male,21,16,25,33.464577,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [141]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
unique_mouse_id= combined_mouse_data_df.drop_duplicates(["Mouse ID"])
unique_mouse_id

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
10,s185,Capomulin,Female,3,17,0,45.0,0
20,x401,Capomulin,Female,16,15,0,45.0,0
30,m601,Capomulin,Male,22,17,0,45.0,0
40,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
1858,z314,Stelasyn,Female,21,28,0,45.0,0
1860,z435,Propriva,Female,12,26,0,45.0,0
1863,z581,Infubinol,Female,24,25,0,45.0,0
1873,z795,Naftisol,Female,13,29,0,45.0,0
1883,z969,Naftisol,Male,9,30,0,45.0,0

In [142]:
# Checking the number of mice in the clean DataFrame.
num_of_mice_clean = unique_mouse_id["Mouse ID"].count()
num_of_mice_clean

249

In [153]:
###Summary Statistics
#Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
mean_data = combined_mouse_data_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].mean()
median_data = combined_mouse_data_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].median()
var_data = combined_mouse_data_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].var()
std_data = combined_mouse_data_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].std()
sem_data = combined_mouse_data_df.groupby("Drug Regimen")["Tumor Volume (mm3)"].sem()
centr_tendency_data =[{"Mean":mean_data,"Median":median_data,"Variance":var_data,"Standard Deviation":std_data,"Standard Error
                       ":sem_data}]
centr_tendency_data

SyntaxError: EOL while scanning string literal (<ipython-input-153-227e7dd30c44>, line 8)